
<div class = "whole_detail_div">
<div>
		<ul class ="nav nav-tabs">
			<li class="active"><a href="/users/home "> DashBoard </a></li>
			<li><a href="/users/invite">Invite Friends </a></li>
			<li><a href="/users/points"> Points </a> </li> 
			<li><a href="/users/profile">Profile</a>  </li>
		</ul>
	</div>	
	<div>
		<br>
		<br>

		<p>  Here we will list the Updates , status</p>





	</div>




	</div>