<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Greetings</p>
    <p>
      <%= @accepted_by%> has accepted your invitation. You have earned 10 more points. Now you have a total of <%=@sent_by.user_points%> points. Thank you!<br/>
    </p>
    
    <p>We appreciate your efforts and have a great day!</p>
  </body>
</html>