// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#users_summary {
	text-align: center;
	max-height: 300px;
}
#more_users_summary{
	margin-right: 100px;
	padding-left: 800px;
}

.functional_admin_links{
	float: right;
}
.functional_admin_index_row{
	padding-bottom: 5px;
	border-bottom: 1px solid;
}